// COLORS
$color-primary-light: #27496d;
$color-primary-dark: #142850;

$color-secondary-1: #00a8cc;
$color-secondary-2: #0c7b93;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$light-color: #e7f6f2;

$color-grey: #393e46;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

// FONT
$fontfam-1: "Merriweather", serif;
$fontfam-2: "Inconsolata", monospace;

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// SHADOW
$shadow-1: 0 1.5rem 4rem rgba($color-black, 0.15);
